In [30]:
import meilisearch

client = meilisearch.Client('http://127.0.0.1:7700', 'R49yUQJ4Vqm8AoWC7DXkguPv0buBAMQoRFd6ZskKk8c')

In [31]:
client

In [37]:
import pandas as pd

df = pd.read_csv('nasdaq_01.csv', na_filter=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      7032 non-null   object
 1   Name        7032 non-null   object
 2   Last Sale   7032 non-null   object
 3   Net Change  7032 non-null   float64
 4   % Change    7032 non-null   object
 5   Market Cap  7032 non-null   object
 6   Country     7032 non-null   object
 7   IPO Year    7032 non-null   object
 8   Volume      7032 non-null   int64
 9   Sector      7032 non-null   object
 10  Industry    7032 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 604.4+ KB

In [38]:
df['id'] = df['Symbol'].str.strip().replace(r'[/^]', '_', regex=True)
df.head(3)

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry,id
0,A,Agilent Technologies Inc. Common Stock,$117.15,-1.96,-1.646%,33278182885.00,United States,1999,744660,Industrials,Biotechnology: Laboratory Analytical Instruments,A
1,AA,Alcoa Corporation Common Stock,$29.51,0.18,0.614%,7640573476.00,United States,2016,2954088,Industrials,Aluminum,AA
2,AACB,Artius II Acquisition Inc. Class A Ordinary Sh...,$10.12,-0.02,-0.197%,0.00,United States,2025,5030,,,AACB

In [39]:
client.index('nasdaq').add_documents(df.to_dict(orient='records'), primary_key='id')

TaskInfo(task_uid=0, index_uid='nasdaq', status='enqueued', type='documentAdditionOrUpdate', enqueued_at=datetime.datetime(2025, 8, 22, 6, 9, 0, 497674))

In [40]:
client.index('nasdaq')